body {
    background-color: rgb(40, 219, 210);
    max-width: 1000px;
    margin: 1.5rem auto;
    font-family: 'Lucida Console', monospace;
}

header, footer {
    background-color: rgb(255, 255, 255);
    color:rgb(0, 0, 0);
    text-align: center;
    border-radius: 0.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    font-family: 'Baskervville', serif;
}

header h1 {
    line-height: 2rem;
    font-size: 2.5em;
}

footer {
    font-size: 1rem;
    line-height: 1.25rem;
}

nav {
    margin: 1.5rem;
    font-family: 'Roboto', serif;
    line-height: 1.25rem;
}

#byulink {
    color: rgb(0, 0, 0);
}

#aaronandtaylor {
    float: right;
    width: 30%;
    height: auto;
    box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.2), -7px 10px 10px 0 rgba(0, 0, 0, 0.2);
}