h1, h2, p, footer {
    text-align: center;
}

h1, h2 {
    font-family: 'Share Tech Mono', monospace;
}

p {
    margin: .5rem;
    font-family: 'Ubuntu';
}
footer {
    font-family: 'Ubuntu';
    margin: 1rem;
   
}
div.cards {
    display: grid;
    grid-gap: 5px;
    background-color: #ffc300;
    padding: 1rem;
    box-shadow: 0 0 20px #581858;
    
}
div section {
    background-color: #ff5733;
    border: 1px solid #900c3f;
    border-radius: 3px;
}
div section img {
    display: block;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    margin-top: .75rem;
    max-width: 75%;
    box-shadow: 0 0 15px #581858;
}
body {
    margin: 0;
}

@media only screen and (min-width: 32.5em) {
    div.cards {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (min-width: 64em) {
    div.cards {
        grid-template-columns: repeat(4, 1fr);
    }
}
