@media only screen and (min-width: 60em) {
    
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f7c72+21,191919+100 */
        background: #4f7c72; /* Old browsers */
        background: -moz-linear-gradient(top,  #4f7c72 21%, #191919 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4f7c72 21%,#191919 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4f7c72 21%,#191919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
    }

    nav a:hover {
        background: #4f7c72; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover,  #4f7c72 0%, #4f7c72 0%, #9db8b8 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#9db8b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
        color: white;
    }
    
    .navigation {
        display: flex;
        justify-content: center;
    }
    
    .navigation li:first-child, .navigation li:nth-child(2) {
        display: none;
    }
    
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }
}