body {
    background-color: #99B8B8;
}

header, footer {
    font-family: 'Cormorant SC', serif;
    background-color: #1D3E3C;
    color:white;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

header {
    display: flex;
    margin-bottom: 0;
    color: rgb(251, 255, 0);
}

header h1 {
    margin: .5rem;
}

header h3 {
    margin: .5rem;
    color: white;
}

header div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    text-align: center;
    background: #9db8b8; /* Old browsers */
    background: -moz-linear-gradient(top,  #9db8b8 0%, #4f7c72 100%, #4f7c72 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #9db8b8 0%,#4f7c72 100%,#4f7c72 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #9db8b8 0%,#4f7c72 100%,#4f7c72 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9db8b8', endColorstr='#4f7c72',GradientType=0 ); /* IE6-9 */
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-top: -1rem;
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75em;
}

nav li a.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(251, 255, 0);
}

nav a:hover {
    background: #4f7c72; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #4f7c72 0%, #4f7c72 0%, #9db8b8 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#9db8b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
}

nav a.active:hover {
    background-color: #1D3E3C;
    color: rgb(251, 255, 0);
}

.navigation li:first-child {
    display: block;
}

.responsive li:first-child {
    display: none;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

.closeinvisible li a {
    display: none;
}

.close li a {
    display: block;
}

main {
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    padding: 1rem;
    margin: auto;
}

main h2 {
    margin-top: 0rem;
}

section {
    color: white;
    background-color: #275C58;
    border-radius: .5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid rgb(170, 170, 170);
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
}

div {
    margin: .5rem;
}

section h2 {
    margin-top: .5rem;
}

p {
    margin: 0.5rem;
}

footer {
    margin: auto;
    text-align: center;
    max-width: 1200px;
}

img {
    align-self: center;
}

#byulink {
    color: white;
}

#icon {
    width: 100%;
    height: auto;
    max-width: 5em;
}