@media only screen and (min-width: 60em) {
    
    nav {
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4f7c72+21,191919+100 */
        background: #4f7c72; /* Old browsers */
        background: -moz-linear-gradient(top,  #4f7c72 21%, #191919 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #4f7c72 21%,#191919 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #4f7c72 21%,#191919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#191919',GradientType=0 ); /* IE6-9 */
    }
    
    .navigation {
        display: flex;
        justify-content: center;
    }
    
    .navigation li:first-child, .navigation li:nth-child(2) {
        display: none;
    }
    
    .weathersum {
        font-size: 1.2em;
    }
    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .gallery figure:hover {
        box-shadow: 0px 0px 25px 5px rgb(251, 255, 0);
    }

    div.towns {
        display: grid;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div.towns div {
        display: block;
        padding: 0;
    }

    div.towns div img {
        max-width: 100%;
    }
}