body {
    background-color: #99B8B8;
}

#message {
    margin: 0px;
    display: block;
}

header, footer {
    font-family: 'Cormorant SC', serif;
    background-color: #1D3E3C;
    color:white;
    align-items: center;
    justify-content: center;
    padding: .5rem;
}

header {
    display: flex;
    margin-bottom: 0;
    color: rgb(251, 255, 0);
}

header h1 {
    margin: .5rem;
    margin-bottom: 0rem;
}

header h3 {
    margin: .5rem;
    margin-top: 0rem;
    color: white;
}

header div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav {
    text-align: center;
    background: #4f7c72; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #4f7c72 0%, #191919 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #4f7c72 0%,#191919 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #4f7c72 0%,#191919 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#191919',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    margin-top: -1rem;
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    padding: 0;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 0.75em;
}

nav li a.active {
    background-color: rgba(0, 0, 0, 0.2);
    color: rgb(251, 255, 0);
}

nav a:hover {
    background: #4f7c72; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #4f7c72 0%, #4f7c72 0%, #9db8b8 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #4f7c72 0%,#4f7c72 0%,#9db8b8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4f7c72', endColorstr='#9db8b8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    color: white;
}

nav a.active:hover {
    background-color: #1D3E3C;
    color: rgb(251, 255, 0);
}

.navigation li:first-child {
    display: block;
}

.responsive li:first-child {
    display: none;
}

.navigation li {
    display: none;
}

.responsive li {
    display: block;
}

body h1 {
    text-align: center;
}

main {
    max-width: 1200px;
    font-family: 'Poppins', sans-serif;
    padding: 0rem;
    margin: auto;
    padding-bottom: 0px;
}

main h2 {
    margin-top: 0rem;
}

section {
    background: #275C58;
    border: 1px solid rgb(28, 65, 61);
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
    color: white;
}

div {
    margin: .5rem;
}

.hero-div {
    margin: 10px auto;
    position: relative;
    max-width: 1200px;
}

.hero-div img {
    width: 100%;
    box-shadow: 5px 5px 5px rgb(209, 208, 208);
}

.weathersummery {
    position: absolute;
    top: 20px;
    left: 20px;
    background: #275C58;
    border: 1px solid rgb(28, 65, 61);
    padding: 8px 5px 8px 5px;
    opacity: .8;
    display: grid;
    grid-template-columns: auto auto;
    max-width: 75%;
    min-width: 160px;
    font-size: .9em;
    margin-bottom: 2px;
}

.weathersummery div {
    display: block;
}

.item1 {
    grid-column: 1 / span 2;
    text-align: center;
    border-bottom: 1px solid white;
    color: white;
  }
.item2, .item4, .item6, .item8, .item10 {
    text-align: right;
    color: white;
    margin: 2px;
}

.item3, .item5, .item7, .item9, .item11 {
    text-align: left;
    color: white;
    margin: 2px;
}

div.item1 h3{
    margin:0;
}

.forecast, .forecasttitle {
    display: none;
}

.article {
    padding: 10px;
    margin: 0px auto 15px auto;
    max-width: 1200px;
    background-color: #275C58;
    min-height: 335px;
}

.article img {
    width: 100%;
    margin: 8px;
}

.article h3, .article h4 {
    margin: 0;

}


.contact {
    width: 100%;
    background-color: #275C58;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.map, .info {
    flex: 1 1 100%;
}

.map {
    display: none;
}

.info {
    display: grid;
    grid-template-columns: 30px auto;
    align-self: center;
}


.infogrid2 a img {
    width: 15px;
    cursor: pointer;
}

.infogrid1 {
    grid-column: 1 / span 2;
}

.infogrid8 {
    grid-column: 1 / span 2;
}

.info {
    width: 100%;    
    flex: 1 1 100%;
}

.info p {
    margin: 0;
}

.infogrid1, .infogrid2, .infogrid3, .infogrid4, .infogrid5, .infogrid6, .infogrid7, .infogrid8 {
    padding: 5px;
    align-self: center;
    margin: 0px;
}

.infogrid4, .infogrid6 {
    font-size: 1.2em;
    margin: 0px;
}

.socialicons {
    flex-direction: row;
}

.socialicons img {
    width: 18px;
    padding: 2px;
}

section h2 {
    margin-top: .5rem;
}

p {
    margin: 0.5rem;
}

footer {
    margin: 0 auto;
    text-align: center;
    max-width: 1200px;
    justify-content: center;
}

img {
    align-self: center;
}

#byulink {
    color: white;
}

#icon {
    width: 100%;
    height: auto;
    max-width: 5em;
}