@media screen and (min-width:32.5em) {

    header, footer {
        text-align: center;
        border-bottom-left-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }

    footer {
        text-align: center;
    }

    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }

    section section{
        display: flex;
    }

    div {
        display: flex;
        flex-direction: column;
    }

    #icon{
        float: left;
    }
}